app/.DS_Store
lib/.DS_Store
plugins/.DS_Store
vendors/.DS_Store
app/Config/.DS_Store
app/Console/.DS_Store
app/Controller/.DS_Store
app/Lib/.DS_Store
app/Locale/.DS_Store
app/Model/.DS_Store
app/Plugin/.DS_Store
app/Test/.DS_Store
app/tmp/.DS_Store
app/Vendor/.DS_Store
app/View/.DS_Store
app/webroot/.DS_Store
app/webroot/css/.DS_Store
app/webroot/files/.DS_Store
app/webroot/js/.DS_Store
app/webroot/img/.DS_Store
app/webroot/image.DS_Store
lib/Cake/.DS_Store
.DS_Store